#if SHUTTER_SINGLE_ID == 0
#define SECRET_OTA_PWD "hunter4dev"
#elif SHUTTER_SINGLE_ID == 1
#define SECRET_OTA_PWD "hunter45"
#elif SHUTTER_SINGLE_ID == 2
#define SECRET_OTA_PWD "hunter42"
#elif SHUTTER_SINGLE_ID == 3
#define SECRET_OTA_PWD "hunter41"
#endif
