ifeq ($(SHUTTER_SINGLE_ID), 0)
ifndef OTA_ADDR
OTA_ADDR := 
endif
ifndef OTA_PWD
OTA_PWD := hunter4dev
endif
endif
ifeq ($(SHUTTER_SINGLE_ID), 1)
ifndef OTA_ADDR
OTA_ADDR := 
endif
ifndef OTA_PWD
OTA_PWD := hunter45
endif
endif
ifeq ($(SHUTTER_SINGLE_ID), 2)
ifndef OTA_ADDR
OTA_ADDR := 
endif
ifndef OTA_PWD
OTA_PWD := hunter42
endif
endif
ifeq ($(SHUTTER_SINGLE_ID), 3)
ifndef OTA_ADDR
OTA_ADDR := 
endif
ifndef OTA_PWD
OTA_PWD := hunter41
endif
endif
