#define TOPIC_BOARD_BASE "boiler-solar/board"

#define TOPIC_BOARD_TEMP (TOPIC_BOARD_BASE "/temperature")

#define TOPIC_BASE_HEATER_PWM "boiler-solar/water/pwm"
#define TOPIC_HEATER_REL_CONTROL "boiler-solar/water/rel/set"
#define TOPIC_HEATER_REL_STATUS "boiler-solar/water/rel/status"
#define TOPIC_BASE_COUNTER_GAS "boiler-solar/gas"

#define TOPIC_BASE_THERMO_BUSSES "boiler-solar/temperatures"

#define MQTT_CLIENT_ID "ESP32-Boiler-Solar"
