#define TOPIC_WATER_TEMP1 "boiler-solar/water/temperature1"
#define TOPIC_WATER_TEMP2 "boiler-solar/water/temperature2"
#define TOPIC_BOARD_TEMP "boiler-solar/board/temperature"
#define TOPIC_BOARD_STATUS "boiler-solar/board/status"
#define TOPIC_BOARD_BUILDVER "boiler-solar/board/build/version"
#define TOPIC_BOARD_BUILDTIME "boiler-solar/board/build/time"

#define TOPIC_BASE_HEATER_PWM "boiler-solar/water/el"

#define MQTT_CLIENT_ID "ESP32-Boiler-Solar"
